
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="/api/public/css/main.css">
</head>

<body>
    <header>
    <a href="http://localhost:8080"><h1>Retro <span><img src="/api/public/images/logo.png" class="logo"></span>Electronica</h1></a>
    </header>
<div class="error404">
    <h1>Error 404</h1>
    <h3>El recurso proporcionado no existe en este servidor</h3>
    <img src="/api/public/images/error404.jpg" alt="Imagen que representa el error 404">
</div>
</body>
</html>
