<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="/api/public/css/main.css">
</head>
<body>
    <h1>Bienvenido a la tienda</h1>
    <a href="/products">Ver productos</a>
    <a href="/carts">Ver Carrito</a>
<script src="/api/public/js/products.socket.js"></script> 
</body>
</html>