<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="/api/public/css/main.css">
</head>
<body>
    <div class="products-container">
        <h3>Productos</h3>
        <div class="products">
            <div class="products__list">
                <ul class="products__list__item" id="products-list"></ul>
            </div>
            <button id="btn-refresh-products-list">Recargar Lista</button>
        </div>
    </div>
    <a href="/products">Agregar un producto</a>
<script src="/api/public/js/products.js"></script>
</body>
</html>